$background-color: #041428;
$base-font-family: "Work Sans", "Helvetica Neue", "Helvetica";
$base-font-size:   15px;
$base-line-height: $base-font-size * 1.8;
$text-color:       #FFF;
$base-letter-spacing: -0.04em;
$main-color: #28c5ff;
