<!DOCTYPE html>
<html>
    <head>
        <title>Curvytron</title>
        <meta name="description" content="Curvytron">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
        <link rel="stylesheet" href="css/style.css">
        <!-- Google Analytics -->
    </head>
    <body>
        <div id="render" class="game-render">
            <canvas id="background" class="game-background"></canvas>
            <canvas id="bonus" class="game-bonus"></canvas>
            <canvas id="game" class="game-front"></canvas>
            <canvas id="effect" class="game-effect"></canvas>
        </div>
        <script src="js/dependencies.js"></script>
        <script src="js/curvytron.js"></script>
    </body>
</html>
