<!DOCTYPE html>
<html>
    <head>
        <title>Curvytron</title>
        <meta name="description" content="Curvytron">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="apple-mobile-web-app-title" content="Curvytron">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="stylesheet" href="css/style.css">
        <!-- Google Analytics -->
    </head>
    <body class="disconnected">
        <div class="container">
            <div class="logo"><img src="images/logo.png" alt=""></div>
            <div class="login-form">
                <button class="color-button" type="button"></button>
                <input type="text" placeholder="Enter your username" class="username" />
                <button class="submit" type="submit">Play</button>
            </div>
            <canvas id="render" class="game-render"></canvas>
            <button class="controller left" type="button"></button>
            <button class="controller right" type="button"></button>
            <div class="score">742</div>
        </div>
        <script src="js/dependencies.js"></script>
        <script src="js/curvytron.js"></script>
    </body>
</html>
